
.cont-link-item{
	color: #fff;
    padding: 10px 20px;
    background-size: 100% 100%!important;
}
.cont-link-item ul{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    justify-content: center;
}
.cont-link-item ul li{
    cursor: pointer;
    padding: 5px 5px;
    font-size: 30px;
    width: 222px;
    text-align: center;
    border-right: 1px solid #68B040;
    border-bottom: 1px solid #68B040;
    text-shadow: #b55f5f 2px 1px 1px;
    white-space: nowrap;
}
.cont-link-item ul li:hover{
    opacity: .85;
}