html, body{ height: 100%; padding: 0; margin: 0; font-size: 0; color: #67757c;}
li{ list-style: none; padding: 0; margin: 0; }
[v-cloak]{ display: none; }

.hide{
	display: none;
}

.w-p100{
	width: 100%!important;
}

.select-ban{
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
}
.content{
	height: 100%;
    display: flex;
}
.tooltip {
  font-size: 14px; 
}
.menu-box{
	/* width: 13%; */
	width: 250px;
	float: left;
	height: 100%;
	padding: 0px 0px 60px;
	position: relative;
	box-sizing: border-box;
	z-index: 10020;
}
.menu-hide{
	position: absolute;
	transform: translateX(-100%);
	padding-right: 8px;
}
.menu-btn{
	position: absolute;
	right: 0;
	cursor: pointer;
	z-index: 100;
	background: rgba(0,0,0,.2);
	width: 40px;
    height: 40px;
    border-radius: 100%;
    bottom: 82px;
}
.menu-btn.expand{
	right: -40px;    
	z-index: 101;
}
/* .menu-btn img.arrow{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -10px;
	z-index: 1;
}
.menu-btn.expand img.arrow{
	transform: rotate(180deg);
} */
.menu-content{
	width: 100%;
    background: #F1F2F2;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    font-size: 14px;
    overflow: auto;
    /* padding-bottom: 48px; */
    bottom: 96px;
    /* bottom: 104px; */
    position: absolute;
    top: 0;
}
.menu-title{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
}
/* .tree-node.selected > .tree-content{
	background-color: rgba(204, 235, 248, .7) !important;
}
.tree{
	height: 100%;
	overflow: auto;
}
.tree-arrow.has-child{
	width: 25px !important;
} */
.right-box{
	position: relative;
	/* width: 87%; */
	flex: 1;
	float: left;
	height: 100%;
	/* padding-bottom: 38px; */
	/* padding-bottom: 44px; */
	box-sizing: border-box;
	overflow-y: auto;
    padding: 12px 12px 72px 12px;
    background-color: #2AA1FF;
    overflow: hidden;
}
.right-box.full-screen-new{
	padding-bottom: 0;
	overflow: hidden;
}
.right-content-container{
	width: 100%;
	height: 100%;
	position: relative;
	/* overflow-y: auto; */
	background-color: #fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    z-index: 3;
    overflow-y: auto;
}
.right-content{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	/* height: 100%; */
	margin: auto;
    color: #000;
    bottom: 0px;
    z-index: 2;
    overflow-x: hidden!important; 
}
.right-bg{
	position: absolute;
	top: 0;
    bottom: 0px;
	left: 0;  
	right: 0;
    z-index: 1;
}

/* .right-content-container.fullscreen{
	background-color: #2AA1FF;
} */
.right-content-container.fullscreen .item-list > div{
	position: absolute;
    /* left: 12px;
    right: 12px;
    top: 12px; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.right-content-container.fullscreen .vocal-iframe{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.right-content-container .qs-iframe{
   	width: 100%!important;
   	height: 100%;
   	position: absolute;
   	top: 0;
   	left: 0;
}

.sing-tool-full, 
.sing-tool-full-exit{
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 22px;
	cursor: pointer;
}
.sing-iframe-full > .active > *:not(.sing-iframe-full-except){
	display: none;
}
.sing-iframe-full-except{
	height: 100%!important;
    top: 0!important;
}
.sing-iframe-name{
    position: absolute;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
.sing-iframe-name > div{ 
    background-color: #FF7101;
    color: #fff;
    text-align: center;
    border-radius: 16px;
    padding: 3px 18px;
    margin-top: 8px;
    letter-spacing: 2px;
}
/* .sing-iframe-select{ 
    height: 31px;
    border-radius: 4px;
    margin-left: 5px;
    padding: 0 2px;
} */


#if{
	border: 0;
	height: 100%;
	width: 100%;
}
.bottom-box{
	position: fixed;
	bottom: 0;
	right: 0;
	height: 60px;
	/* width: 100%; */
	z-index: 200;
    width: auto;
    white-space: nowrap;
}
/* .bottom-box.full-screen-new{
	width: 245px;
} */
/* .bottom-box .tool-box{
	background: -webkit-linear-gradient(#E1F1FE, #79C4FF); Safari 5.1 - 6.0
	background: -o-linear-gradient(#E1F1FE, #79C4FF); Opera 11.1 - 12.0
	background: -moz-linear-gradient(#E1F1FE, #79C4FF); Firefox 3.6 - 15
	background: linear-gradient(#E1F1FE, #79C4FF); 标准的语法
}
.bottom-box .tool-box{
	padding: 5px 20px;
	height: 60px;
	box-sizing: border-box;
}
.tool-box .tool-comm{
	display: inline-block;
} */
/* .tool-title{
	font-size: 14px;
	color: #048CFC;
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	margin-right: 20px;
} */
/* .tool-box .tool-comm li{
	width: 60px;
	height: 50px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid transparent;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.tool-box .tool-comm li img{
	width: 18px;
	height: 18px;
	padding: 5px 0;
}
.tool-box .tool-comm li span{
	display: block;
	font-size: 12px;
}
.tool-box .tool-comm li:hover, .tool-comm li.select{
	background: -webkit-linear-gradient(#E28004, #F29513); Safari 5.1 - 6.0
	background: -o-linear-gradient(#E28004, #F29513); Opera 11.1 - 12.0
	background: -moz-linear-gradient(#E28004, #F29513); Firefox 3.6 - 15
	background: linear-gradient(#E28004, #F29513); 标准的语法	
	border: 1px solid #BD6400;
}
.tool-box .tool-comm li:active{
	transform: translate(1px,1px);
} */
.border-line{
	width: 0px;
	height: 45px;
	background: #fff;
	border: 1px solid;
	border-color: #fff #96D1FF #fff #fff;
	display: inline-block;
	margin: 0 15px;
	vertical-align: middle;
}
.bottom-box .page-box{
	text-align: right;
	height: 60px;
	position: absolute;
	bottom: 0;
	width:100%;
	background: linear-gradient(#D4EBFD, #79C4FD);
	padding-right: 12px;
	box-sizing: border-box;
}
.bottom-box.full-screen-new .page-box{
	position: static;
	white-space: nowrap;
	/* text-align: left; */
}
.page-box > li{
	display: inline-block;
	width: 32px;
	height: 32px;
	font-size: 16px;
	color: #0574F4;
	text-align: center;
	line-height: 32px;
	margin: 6px 2px 0;
/* 	margin: 3px 2px 0; */
	cursor: pointer;
	box-sizing: border-box;
	background-image: url('images/page.png');
    position: relative;
}

.page-box > li.interact{
	width: auto;
	background: url(images/page.png) center center no-repeat;
    background-size: 100%;
    padding: 0 13px;
    font-size: 14px;
    border-radius: 4px;
}
.page-box > li.interact:last-child{
    margin-right: 20px;
}
.page-box > li:active{
	transform: translate(1px,1px);
}
.page-box .select{
	font-weight: bold;
	color: #fff;
	background-image: url('images/page_active.png');
}
.page-item-hide > li{
	display: none;
}
iframe, .box-expand{
	width:100%;
}

.task-list{
	position: absolute;
	bottom: -40px;
	left: -80px;
	transition: .3s;
	transform: translateY(100%);
	width: 200px;
	opacity: 0;
	font-size: 14px;
}

.task-list.show{
	bottom: 35px;
    z-index: 100;
	transform: translateY(0);
	opacity: 1;
}
.task-list > .list-group-item{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.item-list{
    height: 100%;
	position: relative;
}
.item-list > div{
	/* position: absolute;
    left: 12px;
    right: 12px;
    top: 12px;
    bottom: 0;
	border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
}
.item-list .move{
	z-index: 999!important;
}
 
.vocal-iframe{
	width: 100%;
    height: 100%;
}
.vocal-iframe.fullscreen{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.hide{
	display: none;
}
.piano-if{
	height: 100% !important;
}
video{
	object-fit: fill;
}

.cont-img{
	cursor: pointer;
}

.qs-ans-btn{
	font-size: 15px;
	padding: 3px 10px;
}

.node-parent{
	font-size: 15px;
	padding: 12px 15px;
	text-align: center;
	color: #000;
}
.node-list:nth-child(2) .node-parent{
	border-top: none;
}
.node-text{
	font-size: 14px;
	color: #444;
	padding: 15px 20px;
	background: #fff;
	cursor: pointer;
	border-left: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
	border-bottom: 1px solid #f9f7f7;
	width: 95%;
	margin: auto;
	box-sizing: border-box;
	overflow: hidden;
}
.node-text-title{
	text-align: center;
	cursor: default;
}
.node-text-title > span{
	display: inline-block;
	margin: auto;
	font-size: 14px;
	background: #ededed;
	padding: 3px 7px;
}
.node-text.node-head{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top: 1px solid #D9D9D9;
}
.node-text.node-bottom{
	border-bottom: 1px solid #D9D9D9;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.node-text > .node-content{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
    -webkit-line-clamp: 2;  
    -webkit-box-orient: vertical;
}
.node-text:hover{
	background: #F6F6F6;
}
.node-text-title:hover{
	background: #fff;
}
.node-text.select{
	font-weight: 600;
	background: rgba(204, 235, 248, .7) !important;
}
/* 自定义滚动条样式 begin */
.diy-scorll{
	overflow: auto;
}
.diy-scorll::-webkit-scrollbar {/*滚动条整体样式*/
     width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
     height: 4px;
 }
 .diy-scorll::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
     border-radius: 5px;
     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
     background: rgba(0,0,0,0.2);
 }
 .diy-scorll::-webkit-scrollbar-track {/*滚动条里面轨道*/
     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
     border-radius: 0;
     background: rgba(0,0,0,0.1);
 }

/* 试卷begin */
.exam-box{
	/* height: 100%; */
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
    bottom: 0px;
}
.full-screen-new .exam-box{
	bottom: 72px;
}
.btn-primary {
    height: 46px;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    background-color: #7460ee;
    border-color: #7460ee;
	padding: 3px 20px;
} 
.btn-interact{
    position: absolute;
	right: 30px;
    bottom: 20px;
	padding: 3px 20px;
    z-index: 10;
} 
.btn-primary:hover {
	opacity: .85;
}
/* 试卷end */


/* 工具箱、资源库 beign */
.res-tool-switch{
	width: 52px;
    height: 52px;
	vertical-align: bottom;
    cursor: pointer;
    margin: 6px 0px 0 12px;
    position: absolute;
    z-index: 20;
    display: block!important;
}
.res-tool-switch:hover{
	opacity: .85;;
}
.res-tool-box{
	width: 9%;
	transition: .3s;
	transform: translateX(100%);
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
    z-index: 100;
	background: -webkit-linear-gradient(left, #E0F1FE, #7BC5FF); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #E0F1FE, #7BC5FF); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #E0F1FE, #7BC5FF); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #E0F1FE, #7BC5FF); /* 标准的语法 */
    color: #fff;
}

.res-tool-box .title{
	height: 29px;
    font-size: 18px;
    text-align: center;
    margin-top: 21.76%;
    cursor: pointer;
}
.res-tool-box .title.active{
	background: url("images/tool_sel_bg.png") center center no-repeat;
	background-size: 109px 29px;
	/* margin-bottom: 10px;
    margin-top: 35px; */
	margin-bottom: 6%;
    margin-top: 21.34%;
}
.res-tool-box .res-box,
.res-tool-box .tool-box{
	vertical-align: middle;
	box-sizing: border-box;
    z-index: 1;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
	width: 95%;
    margin-left: 5%;
}
.res-tool-box .res-box{
	background: url("images/res_bg.png") center center no-repeat;
	background-size: 100% 100%; 
	height: 666px;
}

.res-tool-box .tool-box{
	background: url("images/tool_sub_bg.png") center center no-repeat;
	background-size: 100% 100%; 
	height: 666px;
}
.res-tool-box ul{
    width: 100%;
    margin: 0;
    padding: 0;
}
.res-tool-box li {
    position: relative;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 0 15px 45px;
} 
.res-tool-box li:hover{
	opacity: .85;
} 
.res-tool-box li:before{
    content: '';
    width: 11px;
    height: 11px;
    background-color: #FFAF4B;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    /* left: 20px; */
    left: 11.6%;
    transform: translateY(-50%);
} 
.res-tool-box .tool-box li{ 
    padding-left: 36.58%; 
} 
.res-tool-box .tool-box li:before{ 
    /* left: 30px;  */
    left: 17.5%;
} 
.res-tool-box li:nth-child(2):before{ 
    background-color: #CF59ED; 
} 
.res-tool-box li:nth-child(3):before{ 
    background-color: #FD766B; 
} 
.res-tool-box li:nth-child(4):before{ 
    background-color: #76DD6A; 
} 
.res-tool-box li:nth-child(5):before{ 
    background-color: #FF7ACE; 
} 
.res-tool-box li:nth-child(6):before{ 
    background-color: #58C5FF; 
} 
.res-tool-box li:nth-child(7):before{ 
    background-color: #40EFC0; 
} 
.res-tool-box li:nth-child(8):before{ 
    background-color: #FEC59F; 
} 
.res-tool-box li:nth-child(9):before{ 
    background-color: #F85978; 
} 
.content.show-res-tool .res-tool-box, .content.show-res-tool-only  .res-tool-box{
	transition: .3s;
	transform: translateX(0);
}
.content.show-res-tool .right-box{
	width: 78%;
}
.content.show-res-tool-only .right-box{
	width: 91%;
}
.piano-keyboard-box{
	position: absolute;
	left: 12px;
	right: 20px;
}
/* 工具箱、资源库  end */

#empty{
	position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    font-size: 20px;
    color: #000;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 150px;
    height: 30px;
}


/* 覆盖brush.css begin */
.sing-rb-btn {
    /* height: 175px; */
    /* bottom: 52px; */
    bottom: 106px;
}

.brush-box {
    bottom: 60px;
}

/* 覆盖brush.css end */
   


/* 覆盖know_link.css begin */
.link-box{
	right: 30px;
    bottom: 125px;
    position: fixed;
    z-index: 300;
}

.link-icon {
    width: 50px;
    height: 50px;
}
.bottom-box .page-box.page-box-link{
    padding-right: 70px;
}
/* 覆盖know_link.css end */
  
   
    
/* 覆盖abc_tool.css begin */
.sing-tool-box{
	/* position: absolute; */
    padding-left: 32px;
    bottom: 60px;
    z-index: 4;
}
.sing-tool-box .form-control{
	height: 24px;
    padding: 6px 12px;
    font-size: 14px;
    width: 24px;
    border-radius: 4px;
}
.sing-tool-box .speed{
	margin-left: 5px;
  		margin-right: 5px;
}
.sing-tool-box .speed-minus, .sing-tool-box .speed-add, .sing-tool-box .speed-recover{
    margin-top: -10px;
}
.sing-tool-box .speed-add{
  		margin-right: 5px;
}
.sing-tool-box .speed-recover{
	margin-left: 5px;
}

/* 覆盖abc_tool.css end */



/* 知识点树  begin */ 
.know-tree{
	margin-top: -18px;
	padding-left: 10px;
}
.know-tree .tree-arrow{
	display: none;
}
.know-tree .tree-anchor{
    padding: 0;
}

.know-tree .tree-content{
	padding-top: 0;
    padding-bottom: 0;
    min-height: 44px;
    max-height: 44px;
    overflow: hidden;
}
.know-tree .tree-node {
	white-space: normal;
}
.know-tree .know-node {
	margin-left: -5px;
	display: flex;
    align-items: center;
  	width: 100%;
  	height: 100%;
    min-height: 44px;
    overflow: hidden;
  	/* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; */
}
.know-tree .know-txt {
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; 
}
.tree-node:hover > .tree-content .know-node  {
	background-color: #e7eef7!important;
}
.tree-node.selected > .tree-content .know-node {
	background-color: #D0F0FF!important;
}

.know-tree .know-node:before{
	content: ' ';
  	width: 20px;
  	height: 20px;
  	margin-right: 5px;
    min-width: 20px;
}
.know-tree .know-child:before{
  	background: url("images/tree_child.png") no-repeat center center;
  	background-size: 100% 100%;
}
.know-tree .know-parent:before{
  	background: url("images/tree_parent.png") no-repeat center center;
  	background-size: 100% 100%;
}
.know-tree .know-exam:before{
  	background: url("images/know_task.png") no-repeat center center;
  	background-size: 100% 100%;
}
.know-tree .tree-node.expanded > .tree-content > .tree-anchor > .know-parent:before{
  	background: url("images/tree_parent_open.png") no-repeat center center;
  	background-size: 100% 100%;
}
.know-tree .tree-node > .tree-content:before { 
	content: ' ';
  	width: 11px;
  	min-height: 44px;
  	background: url("images/tree_line.png") no-repeat center center;
  	background-size: 100% 100%;
  	display: inline-block;
  	vertical-align: middle; 
  	margin-right: 2px;
}
.know-tree .tree-node.has-child > .tree-content:before { 
	background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url(images/tree_line.png);
    background-position: -1px 0;
    width: 11px;
    height: 44px;
}

.know-tree .tree-node:last-child > .tree-content:before{ 
  	background: url("images/tree_half_line.png") no-repeat center center;
  	height: 22px;
    background-position: 0 0;
}
.know-tree .tree-line{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 1px;
    background: url(images/tree_point.png?v=1) ;
}
/* .tree-node */
.know-tree .has-child:last-child .tree-line{
	bottom: auto;
    height: 23px;
}
.know-tree .tree-node .tree-children{
	position: relative;
}

.tree-node:hover > .tree-content,
.tree-node.selected > .tree-content {
	background-color: inherit!important;
}

/* 知识点树  end */


/* 知识点树中的按钮 begin */
.course-box{
 	text-align: center;
	padding: 6px 0 0;
}
.course-box .course-cover{
    width: 123px;
    height: 160px;
}
.course-box .course-name{
 	
}

.left-btn-box{
	position: absolute;
    left: 0;
    bottom: 60px; 
    width: 100%;
    display: inline-flex;
    padding: 0;
    margin: 0;
    z-index: 10;
    padding: 8px 0;
    background: #DFE1E1;
}
.left-btn-box > li{
	text-align: center;
	width: 23%;
	cursor: pointer;
}
.left-btn-box > li:first-child{
	margin-left: 2%;
}
.left-btn-box img{
    width: 95%; 
    max-width: 36px;
}
.left-btn-box img:hover{
    opacity: .85;
}

.tree-search-box{
	bottom: 110px;
    height: 60px;
    position: absolute;
    left: 2px;
    width: 100%;
}
.tree-search-box .form-control{
    width: 90%;
    height: 42px;
    font-size: 14px;
    padding: 0 10px;
}
		 
.keyboard{
	background: url("../../css/common/images/icon_keyboard.png") no-repeat center center;
	background-size: 100% 100%;
	width: 46px;
	height: 46px;
	vertical-align: middle;
	position: absolute;
	right: 15px;
	top: 0;
}

.keyboard.blue{
	background: url("../../css/common/images/icon_keyboard_blue.png") no-repeat center center;
	background-size: 100% 100%;
}

.keyboard:hover{
	opacity: .85;
}
/* 知识点树中的按钮 end */

iframe.full-screen{
	position: fixed;
    left: 0;
    right: 0;
    z-index: 100000;
    bottom: 0;
}

.coor {
	width: 16px; 
	height: 16px; 
	background: url("images/icon_expand.png") center center no-repeat;
	background-size: 100% 100%;
	position: absolute; 
    right: 0;
    bottom: -17px;
	border: 1px solid #09C;
	display: none;
	z-index: 10;
}
.video-move {
	width: 16px; 
	height: 16px; 
	background: url("images/move.png") center center no-repeat;
	background-size: 100% 100%;
	position: absolute; 
    right: 25px;
    bottom: -17px;
	border: 1px solid #09C;
	display: none;
	z-index: 10;
}
.video-loop{
	font-size: 16px;
	display: none;
}

.video-box:hover .coor,
.video-box:hover .video-move,
.video-box:hover .video-loop{
	display: block;
}

.video-staff{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}

.menu-top-know{
	position: absolute;
    left: 2px;
    bottom: 65px;
    width: 34px;
    display: inline-flex;
    padding: 0;
    margin: 0;
    z-index: 1003;
}
.menu-top-know img{
    width: 100%;
    height: 100%;
}

/* 备课预览返回按钮 */
.btn-exe-back{
	font-size: 14px;
    position: absolute;
    left: 10px;
    bottom: 16px;
    z-index: 1;
    height: 28px;
    line-height: 28px;
    border-radius: 44px;
    border: 1px solid #ABABAB;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    background: #ABABAB;
    padding: 0 12px;
    color: #fff;
}

.btn-exe-back img{
    width: 7px;
}

.music-form-if{
	width: 95%;
	margin:auto;
	position:relative;
	z-index: 100;
	background-color:#fff;
	display: inherit;
	box-shadow: 0 0 10px rgba(0,0,0, .5);
    border-radius: 5px;
}
.exp-btn-box{
	position: absolute;
	display:inline-block;
	font-size: 0;
	width: 195px;
	right: -195px;
}
.exp-btn-box div{
	margin-left: 5px;
	cursor: pointer;
}


.diy-audio-container.active .mf-box
{
    display: inline-block;
    width: 60px;
    height: 60px;
    background:url(images/icon_mf.png) no-repeat center, url(images/mf_bg.png) no-repeat center;
    background-size: 100% 100%;
    border-radius: 100%;
}
.diy-audio-container.active.selected .mf-box
{
    background:url(images/icon_mf_selected.png) no-repeat center, url(images/mf_bg.png) no-repeat center;
    background-size: 100% 100%;
}

.diy-audio-container.active .mf-btn
{
    display: inline-block;
    width: 60px;
    height: 60px;
    background:url(images/icon_qs.png) no-repeat center, url(images/mf_bg.png) no-repeat center;
    background-size: 100% 100%;
    border-radius: 100%;
}
.diy-audio-container.active.selected .mf-btn
{
    background:url(images/icon_qs_selected.png) no-repeat center, url(images/mf_bg.png) no-repeat center;
    background-size: 100% 100%;
}

.diy-audio-container.active .xs-btn
{
    display: inline-block;
    width: 60px;
    height: 60px;
    background:url(images/icon_xs.png) no-repeat center, url(images/mf_bg.png) no-repeat center;
    background-size: 100% 100%;
    border-radius: 100%;
}
.diy-audio-container.active.selected .xs-btn
{
    background:url(images/icon_xs_selected.png) no-repeat center, url(images/mf_bg.png) no-repeat center;
    background-size: 100% 100%;
}

.diy-audio-container.active .mf-edit-btn
{
    display: inline-block;
    width: 60px;
    height: 60px;
    background:url(images/icon_qs_edit.png) no-repeat center, url(images/mf_bg.png) no-repeat center;
    background-size: 100% 100%;
    border-radius: 100%;
}
.diy-audio-container.active .mf-opus-btn
{
    display: inline-block;
    width: 60px;
    height: 60px;
    background:url(images/icon_qs_opus.png) no-repeat center, url(images/mf_bg.png) no-repeat center;
    background-size: 100% 100%;
    border-radius: 100%;
}





.mf-iframe{
	width: 100%;
	height: 100%;
	border: 0;
}

.menu-box{
	background-color:#F1F3F0;
}

.opus-box{
	padding: 10px;
	box-sizing: border-box;
}

.opus-box .opus-search{
	height: 42px;
	line-height: 42px;
	border-radius: 21px;
	background-color: #fff;
	margin-bottom: 4px;
	overflow: hidden;
	position: relative;
}

.opus-box .opus-search input{
	border: none;
	outline: none;
	width: 100%;
	height: 100%;
	color: #7E7E7E;
	padding-left: 20px;
	box-sizing: border-box;
	font-size: 16px;
}

.opus-box .opus-item{
	/* height: 84px; */
	background-color: #fff;
	border-bottom: 2px solid #F1F3F0;
	padding:15px 5px;
	box-sizing: border-box;
	cursor: pointer;
}
.opus-box .opus-item:active{
	background-color:#eee;
}
.opus-box .opus-item:last-child{
	border-bottom-left-radius: 21px ;
	border-bottom-right-radius: 21px ;
}
.opus-box .opus-item:first-child {
	border-top-left-radius: 21px ;
	border-top-right-radius: 21px ;
}
.opus-box ul,.opus-box li{
	padding: 0;
	margin: 0;
}
.opus-box li{
	cursor: pointer;
}
.opus-box li:hover{
	opacity: .85;
}
.opus-box .opus-item .opus-name{
	position: relative;
	font-size: 16px;
	padding-left: 32px;
	box-sizing: border-box;
	height: 30px;
	line-height: 30px;
}
.opus-box .opus-item .opus-info{
	display: flex;
	color: #999;
}
.opus-box .opus-item .opus-info span{
	flex:1;
	font-size: 12px;
	white-space:nowrap;
}
.opus-box .opus-item .opus-info span:FIRST-CHILD{
	overflow: hidden;
}
.opus-box .opus-item .opus-name:BEFORE{
	content:'';
	display:block;
	position: absolute;
	left: 0;
	width:30px;
	height: 30px;
	background:url("images/icon_music.png") no-repeat center;
	background-size: cover;
}

ul.bottom-btn-box{
	position: absolute;
    left: 0;
    bottom: 60px;
    width: 100%;
    display: inline-flex;
    z-index: 10;
    padding: 8px 0 !important;
    background: #DFE1E1;
}

.expand-btn, .catalog-btn, .opus-btn{
	width:auto !important;
	min-width:38px !important;
	height: 38px;
	display: flex;
	overflow: hidden;
	border-radius: 19px;
	background-color: rgba(0,0,0,.5);
	justify-content: center;
    align-items: center;
    margin-left:6px !important;
}
.catalog-btn, .opus-btn{
	padding: 0 15px !important;
	box-sizing: border-box;
}
.opus-btn.active{
	background-color: #2AA1FF;
}
.expand-btn span, .catalog-btn span, .opus-btn span{
	font-size: 14px;
	color: #fff;
}
.expand-btn i{
	margin-left: -4px;
}
i.search-btn{
	display: inline-block;
	width:30px;
	height: 30px;
	background: url("images/icon_search.png") no-repeat center;
	background-size: cover;
	position: absolute;
    right: 10px;
	top:0;
	bottom: 0;
	margin:auto;
	padding-right: 10px;
	box-sizing: border-box;
}

.expand-btn i,
.catalog-btn i,
.opus-btn i{
	
	display:inline-block;
	width:25px;
	height: 25px;
}
.expand-btn i{
	background:url("images/icon_sq.png") no-repeat center;
	background-size: cover;
}
.catalog-btn i{
	background:url("images/icon_ml.png") no-repeat center;
	background-size: cover;
}
.opus-btn i{
	background:url("images/icon_zp.png") no-repeat center;
	background-size: cover;
}
.opus-empty{
	font-size: 16px;
	text-align: center;
	padding: 15px 0;
}
.opus-item-box {
	white-space: nowrap;
	position: relative;
}
.opus-item .info{
	width:100%;
}
.opera-box{
	display:inline-block;
	width: 100%;
	padding-top: 10px;
	text-align: center;
}

.opera-box span{
	line-height: 21px;
	font-size: 13px;
	color: #fff;
	padding: 0 10px;
	border-radius: 3px;
	margin-right: 10px;
	text-align: center;
}

.opera-box span.edit{
	background: #FC9202;
}
.opera-box span.del{
	background: #777;
}
.opera-box span.cancel{
	background: #F1F3F0;
	color: #333;
}
.edit-btn{
	display:inline-block;
	background: url("images/icon_bi.png") no-repeat center;
	width: 30px;
	height: 30px;
	background-size: 20px;
}
.opus-name {
	display: flex;
}
.opus-name>span{
	flex:1;
}


/* 覆盖钢琴虚拟键盘 */
.right-box .piano-keyboard-box {
	position: absolute;
    left: 12px;
    right: 12px;
}


.qrcode-box{
	position: absolute;
    right: 36px;
    bottom: 66px;
    width: 160px;
    height: 160px;
    border: 1px solid #e6e6e6;
    box-shadow: 1px 1px 10px #000;
    z-index: 110;
}
.qrcode-box img{
	width: 100%;
	height: 100%;
}


.mf-edit-btn, .mf-opus-btn{
	display: none !important;
}
.piano-keyboard-box .switch{
    left: auto!important;
    width: 80px!important;
    right: 56px!important;
    background-size: 100% 100%!important;
}

.bottom-box-cover-2,
.bottom-box-cover{
	position: fixed;
	height: 60px;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(#D4EBFD, #79C4FD);
	font-size: 0;
	z-index: 4;
}
.bottom-box-cover-2{
	position: absolute;
}
.bottom-box-cover.abcfull{
	z-index: 2;
}

.page-jump{
	position: absolute;
	bottom: 82px;
	width: 140px;
	height: 40px;
	background: rgba(0,0,0,.2);
	border-radius: 50px;
	text-align: center;
	z-index: 99; 
}
.page-jump.left{
	left: 40px;
}
.page-jump.right{
	right: 40px;
}
.page-jump > .prev-page,
.page-jump > .next-page{
	vertical-align: middle;
	cursor: pointer;
}
.page-jump > .prev-page:hover,
.page-jump > .next-page:hover{
	opacity: .8;
}
.page-jump > span{
	width: 50px;
	margin: 0 5px;
	display: inline-block;
	font-size: 14px;
	color: #fff;
	line-height: 40px;
	vertical-align: middle;
	cursor: pointer;
}
.page-list-box{
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	display: none;
}
.page-list{
	display: flex;
	justify-content: space-between;
	flex-flow: wrap;
}
.page-list > li{
	width: 42px;
	height: 42px;
	display: inline-block;
	list-style: none;
	text-align: center;
	line-height: 42px;
	background: rgba(0,0,0,.2);
	font-size: 14px;
	color: #fff;
	border-radius: 50%;
	cursor: pointer;
	margin-bottom: 7px;
	transition: background .3s;
}
.page-list > li.active{
	background: #0090FF
}

.menu-btn-new{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 2px 6px 4px;
	margin: 5px 0;
    box-sizing: border-box;
    height: 50px;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}
.menu-btn-new.active{
	background: -webkit-linear-gradient(#E28004, #F29513);
    background: -o-linear-gradient(#E28004, #F29513);
    background: -moz-linear-gradient(#E28004, #F29513);
    background: linear-gradient(#E28004, #F29513);
    border: 1px solid #BD6400;
}
.menu-btn-new > .menu-btn-img{
	display: block;
	width: 30px;
	height: 30px;
	margin: auto;
}
.menu-btn-new > span{
	display: inline-block;
	font-size: 12px;
	line-height: 12px;
	color: #000;
}

.sing-tool-box{
	display: block;
	width: 100%;
	height: 60px;
	box-sizing: border-box;
	background: linear-gradient(#D4EBFD, #79C4FD);
	padding: 0px;
	bottom: 0;
	z-index: 201;
}
.sing-tool-box::-webkit-scrollbar{
	display: none;
}
.sing-tool-box.sc-open > *{
	display: none;
}
.sing-tool-box > .tool-comm{
	margin-left: 20px;
}
.sing-tool-box .tool-comm > li{
	position: relative;
	width: auto;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 2px 5px 4px;
	margin: 5px 0;
    box-sizing: border-box;
    height: 50px;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 0;
}
.sing-tool-box .tool-comm > li > span{
	display: inline-block;
	font-size: 12px;
	line-height: 12px;
	color: #000;
}
.sing-tool-box .tool-title{
	width: 24px;
	height: 46px;
	border: 1px solid #ED1C3C;
	color: #ED1C3C;
	box-sizing: border-box;
	border-radius: 50px;
	text-align: center;
	line-height: 14px;
    padding: 8px 0;
    margin-right: 5px;
    white-space: normal;
}
.gag-box{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 60px;
	background: #2AA1FF;
	height: 12px;
	z-index: 4;
}
.hide{
	display: none;
}

/* 更多弹窗 begin */
.more-expand-box{
	position: absolute;
	width: 480px;
	border-radius: 10px;
    bottom: 72px;
    left: -220px;
	cursor: default;
}
#isMore,
.more-expand-box:active{
	transform: none;
}
.more-expand-box:before{
	content: "";
	position: absolute;
	left: -38px;
	top: -120px;
	width: 193px;
	height: 173px;
	background: url('../../component/sing/images/rabit.png') no-repeat;
}
.more-expand-box > .more-item{
	border-bottom: 1px solid #fff;
	overflow: hidden;
	background: #FFDDE3;
}
.more-expand-box > .more-item:first-child{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.more-expand-box > .more-item:last-child{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.more-item .more-item-left{
	width: 70px;
	display: table-cell;
	vertical-align: middle;
	background: #D70024;
	color: #fff;
	font-size: 16px;
}
.more-item .more-item-right{
	width: 410px;
	display: table-cell;
	padding: 5px 0;
}
.more-item .more-row{
	padding: 10px 30px;
	display: block;
	position: relative;
	z-index: 1;
	text-align: left;
}
.more-item .more-row.text-justify{
	text-align-last: justify;
}
.more-item .more-row > * {
	text-align-last: auto;
}
.more-item .more-col{
	display: inline-block;
	vertical-align: middle;
}
.more-item .more-col.space-between{
	display: flex;
	justify-content: space-between;
}
.more-item .more-text{
	font-size: 16px;
	line-height: 32px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 5px;
	min-width: 85px;
}
.more-expand-box .more-btn{
	position: relative;
	display: inline-block;
	background: linear-gradient(#FC849D, #D50023);
	border-radius: 3px;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	cursor: pointer;
}
.more-expand-box .more-btn.large{
	width: 160px;
	height: 36px;
	line-height: 36px;
	font-size: 18px;
}
.more-expand-box .more-btn.medium{
	width: 84px;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
}
.more-expand-box .more-btn.small{
	width: 28px;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
}
.more-expand-box .more-btn.active{
	border: 1px solid #D70024;
	color: #D70024;
	background: #fff;
}

.node-seq{
	height: auto;
	line-height: auto;
	color: #000;
	padding: 0;
	border: none;
}
.node-seq.show span,
.node-seq span{
	float: none;
	margin: 0; 
	color: #000;
}
.node-seq.show > .node-seq-check > span{
	margin-left: 8px;
	color: #fff;
}
.node-seq.horizontal.show > .node-seq-check > span{
	color: #fff;
	float: right;
	margin-right: 8px;
}
.node-seq-check{
	height: 32px;
    width: 72px;
    margin: 0;
    line-height: 32px;
    float: none;
    background: #fff;
}
.node-seq .circle {
	width: 30px;
	height: 30px;
	box-shadow: 0 0 2px 2px #aaa;
}
.node-seq.show .node-seq-check{
	background: #D70024;
}
.upload-btn{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	opacity: 0;
	z-index: 1;
	width: 100%;
	cursor: pointer;
}
.more-item.function{
	display: none;
}
.more-row.qushi{
	width: 65px;
}

.select-box{
	bottom: 72px;
}

.full-screen-new .save-btn {
    left: 15px;
}
/* 更多弹窗 end */

.piano-improvisation-box.create{
	top: 50% !important;
	transform: translateY(-50%) !important;
}
.more-expand-box.create{
	left: -360px !important;
}

@media screen and (max-width: 1400px){
	.sing-tool-box{
		font-size: 0;
	}
	.sing-tool-box > .tool-comm{
		margin-left: 0;
	}
	.sing-tool-box .tool-comm > li{
		padding: 2px 2px 4px;
	}
	.sing-tool-box .tool-comm.pb-mode{
		display: none;
	}
	.sing-tool-box .tool-title{
		width: 20px;
		margin-left: 1px;
		margin-right: 1px;
	}
	.sing-tool-box .tool-comm > li.pb-mode{
		display: none;
	}
	.more-expand-box .more-btn.medium{
		width: 80px;
	}
	.more-item.function{
		display: block;
	}
	.more-item .more-row{
		padding: 2px 25px;
	}
	.more-item .more-item-right{
		padding: 0;
	}
}

@media screen and (max-width: 1024px){
	.sing-tool-box .tool-comm > li{
		padding: 0;
	}
	.sing-tool-box .tool-title{
		width: 18px; 
	}
	/* .bottom-box.full-screen-new {
	    width: 200px;
	} */
	
	.menu-btn-new {
	    padding: 2px 2px 4px;
	}
}