
<a target="_blank" href="https://www.w3schools.com/html/">HTML</a><br>
<a target="_blank" href="https://www.w3schools.com/css/">CSS</a><br>
<a target="_blank" href="https://www.w3schools.com/bootstrap/">Bootstrap</a><br>
<a target="_blank" href="https://www.w3schools.com/js/">JavaScript</a><br>
<a target="_blank" href="https://www.w3schools.com/sql/">SQL</a><br>
<a target="_blank" href="https://www.w3schools.com/php/">PHP</a><br>
<a target="_blank" href="https://www.w3schools.com/w3css/">W3.CSS</a><br>
