
.diy-carousel{
    font-size: 15px;
}
.diy-carousel,
.diy-carousel .carousel-inner,
.diy-carousel .carousel-item,
.diy-carousel .img-fluid{
	width: 100%;
	height: 100%;
}

.diy-carousel .carousel-control-prev span{
	width: 14px;
	height: 14px;
	background: url("images/left.png") no-repeat center center;
	background-size: 100% 100%;
}
.carousel-control-next span{
	width: 14px;
	height: 14px;
	background: url("images/right.png") no-repeat center center;
	background-size: 100% 100%;
}

.diy-carousel h5{
	padding: 3px;
	font-size: 18px;
    margin: 0;
}

.diy-carousel p{
	padding: 3px;
	font-size: 16px;
    margin: 0;
}