
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="/ixzdscommon/favicon.ico">
		<!-- 框架基础样式 -->
		<link rel="stylesheet" href="/ixzdscommon/minipro/assets/vendor_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/ixzdscommon/minipro/assets/vendor_components/bootstrap/dist/css/bootstrap-extend.css">
		<link rel="stylesheet" href="/ixzdscommon/minipro/css/master_style.css?v=1000">
		
	    <!--alerts CSS 弹出框-->
		<link rel="stylesheet" href="/ixzdscommon/minipro/assets/vendor_components/sweetalert/sweetalert.css">
		
		<!-- 分页组件 -->
		<link rel="stylesheet" href="../../component/css/vue-easytable.css?v=1000">
	
		<!-- 上传组件 begin -->
		<link rel="stylesheet" href="../../css/file/file.css?v=1000">
		<!-- 上传组件 end -->
	
		<!-- 公共样式 -->
    	<link href="../../css/common/common.css?v=1000" rel="stylesheet" type="text/css" />
    	<link href="../../css/interact/interact_main.css?v=1000" rel="stylesheet" type="text/css" />
    	
		<!-- 画笔 -->
    	<link href="/ixzdscommon/brush/brush_global.css?v=1000" rel="stylesheet" type="text/css" />  
    	
		<link href="css/main_teaching_v2.css?v=1000" rel="stylesheet">
		<title>智慧音乐课堂</title>
	</head>
	<body>
		<div id="content" :class="{'full-piano' : courseObj.isFullPiano}" v-cloak @mousedown.stop="contentMouseDown($event )" @touchstart.stop="contentMouseDown($event )">
			<div class="home-menu tag select-ban" v-show="actTagCode == 'index'" >
				<div class="title">
					<div class="school-logo" @dblclick="location.href = location.href + '&TMP=1'">
						<img :src="school.SCHOOL_LOGO && school.SCHOOL_LOGO.indexOf('/') != -1 ? school.SCHOOL_LOGO : C.SCHOOL_LOGO_URL"/>
					</div>
					<span class="school-name" v-text="params.TITLE || school.SHORT_NAME || school.SCHOOL_NAME"></span>
					<span class="title-txt" >智慧音乐课堂</span>
					<span class="user-type">{{ params.USER_TYPE == 'teac' ? '' : '（学生端）'}}</span>
				
					<div class="date-box">
						<div class="time" v-text="calendar.time"><!-- 14:03 --></div>
					</div>
					
					<div class="home-login-box">
						<div v-if="isLogin" class="home-login-msg">
							<img class="home-user-avatar" :src="(user && user.headUrl && user.headUrl.indexOf('/') != -1) ? user.headUrl : C.HEAD_URL" onerror="this.src=C.HEAD_URL;" />
							<span class="home-user-name">{{user.personName || user.opname}}</span>
							<div class="home-login-out" @click="logout">
								<img src="../../css/main/images/teacing/login_out.png" />
								<span>注销</span>
							</div>
						</div>
						<div v-if="!isLogin" class="home-login-btn" @click="openLogin">登录</div>
						<img v-if="isLogin" title="钉钉小程序" class="logo-img" @click="showDd" src="../../images/main/dd_logo.png">
					</div>
				</div>
				
				<div class="home-center">
					<div class="home-course-box">
						<div class="home-course-center-box" :style="'z-index:' + courseObj.appCodeListByCourse.length ">
							<div class="home-course-left diy-scorll">
								<!-- 3 全部 + 导入 + 搜索 -->
								<ul :style="courseObj.bookVersionUlStyle">
									<li v-for="(model, index) in courseObj.bookVersionList" v-if="!model.CODE || courseObj.bookVersionNumJson[model.CODE]" 
										:class="{'active' : courseObj.selFrm.BOOK_VERSION == model.CODE, 'js-': true}" 
										@click="courseObj.bookVersionClick(model, index)" >
										<span v-text="model.NAME"></span>
										<img v-if="courseObj.selFrm.BOOK_VERSION == model.CODE" src="css/images/teaching/icon_sel.png"/>
									</li>
									<li>
										<div @click="courseObj.openQuery()" class="btn-course-query js-">{{ courseObj.isShowQuery ? '关闭' : '搜索'}}</div>
									</li>
									<li>
										<div @click="courseObj.openImport()" class="btn-course-import js-">导入</div>
									</li>
								</ul>
							</div>
							<div class="home-course-right">
								<div class="home-course-list">
									<!-- 目标，两行搞定 -->
									<div class="home-course-row" v-for="page in 2" v-if="page == 1 || courseObj.selFrm.rows / 2 < courseObj.courseList.length">
										<!--  :class="{ 'row-last' : (index + 1)  % 2Num == 0}"  -->
										<div class="home-course-item"
											v-for="(course, index) in courseObj.courseList" @click="courseObj.courseClick(course)" 
											v-if="(page - 1) * courseObj.selFrm.rows / 2 <= index && index < page * courseObj.selFrm.rows / 2 "
												:style="courseObj.courseItemStyle">
											<img :src="course.COVER_PIC_PATH && course.COVER_PIC_PATH.indexOf('/') != -1 ? course.COVER_PIC_PATH : COURSE_COVER_URL" > 
											<div class="home-course-name" >
												<span v-text="course.COURSE_NAME"></span>
											</div>
										</div>
										
										<!-- 不足的补上个空的，省的中间空太多 -->
										<template v-if="courseObj.courseList.length < page * courseObj.selFrm.rows / 2">
											<div class="home-course-item" v-for="model in (page * courseObj.selFrm.rows / 2 - courseObj.courseList.length)" >
											</div>
										</template>
									</div>
								</div>
								<div v-if="courseObj.tbl.total > courseObj.tbl.pageSize" class="text-right pager-box">
									<v-pagination @page-change="courseObj.pageChange" :total="courseObj.tbl.total" :page-size="courseObj.selFrm.rows" :page-index="courseObj.selFrm.page" :layout="['total', 'prev', 'pager', 'next' ]"></v-pagination>
								</div>
								
								
								<div v-if="courseObj.isShowQuery" class="home-course-query-box">
									<div class="home-course-input">
										<input v-model="courseObj.selFrm.COURSE_NAME" @keyup.enter="courseObj.queryByName()" placeholder="请输入要搜索的课程名称" class="form-control" id="homeCourseInput"/>
									</div>
									<div class="home-course-btn" @click="courseObj.queryByName()">
										<img src="css/images/teaching/icon_query.png"/>搜索
									</div>
								</div>
							</div>
						</div>
					
						<div v-if="courseObj.isOk" class="app-teac-box">
							<ul>
								<li v-for="(model, index) in courseObj.appCodeListByCourse" v-if="model.code < 0 || appCode.indexOf(model.code) != -1" @click="courseObj.appCodeClcik(model, index)" 
									:class="{'active' : courseObj.appCodeListIdx == index, 'left' : courseObj.appCodeListIdx > index, 'right' : courseObj.appCodeListIdx < index }"
									:style="model.style">
									<span v-text="model.name"></span>
								</li>
							</ul>
						</div>
					</div>
					<div class="home-app-box diy-scorll">
						<ul v-if="params.USER_TYPE == 'teac'">
							<li v-if="appCode.indexOf('tool') != -1" @click.stop="menuClick('tool')">
								<img src="css/images/teaching/app_tool.png"/>
							</li>
							<li v-if="appCode.indexOf('camera') != -1" @click.stop="menuClick('playExample')">
								<img src="css/images/teaching/app_camera.png"/>
							</li>
							<li v-if="appCode.indexOf('abc') != -1 && !isDd" @click.stop="menuClick('whiteboard')">
								<img src="css/images/teaching/app_abc.png"/>
							</li>
							<li v-if="appCode.indexOf('theory') != -1" @click.stop="menuClick('theory')">
								<img src="css/images/teaching/app_theory.png"/>
							</li>
							<li v-if="appCode.indexOf('exam') != -1" @click.stop="menuClick('examsys')">
								<img src="css/images/teaching/app_exam.png?v=1"/>
							</li> 
							<li v-if="appCode.indexOf('choir') != -1" @click.stop="openChoir()">
								<img src="css/images/teaching/app_choir.png"/>
							</li>
							<li v-if="appCode.indexOf('course') != -1" @click.stop="menuClick('knowTeac')">
								<img src="css/images/teaching/app_course.png"/>
							</li> 
							<li v-if="appCode.indexOf('manager') != -1" @click.stop="menuClick('manager', '管理系统')">
								<img :src="appCode.indexOf('interact') == -1 ? 'css/images/teaching/app_manager.png' : 'css/images/teaching/app_manager_common.png'"/>
							</li>
							<li v-if="appCode.indexOf('afterclass') != -1" @click.stop="menuClick('afterclass')">
								<img src="css/images/teaching/app_afterclass.png"/>
							</li>
							
							<li v-for="model in courseObj.appNullBoxNum" class="null-li" :style="courseObj.appBoxLiStyle"></li>
						</ul>
						<ul v-else>
							<!-- 互动课堂 -->
							<li v-if="appCode.indexOf('tool') != -1" @click.stop="menuClick('tool')">
								<img src="css/images/teaching/app_tool.png"/>
							</li>
							<li v-if="appCode.indexOf('abc') != -1 && !isDd" @click.stop="menuClick('whiteboard')">
								<img src="css/images/teaching/app_abc.png"/>
							</li>
							<li v-if="appCode.indexOf('theory') != -1" @click.stop="menuClick('theory')">
								<img src="css/images/teaching/app_theory.png"/>
							</li>
							<li v-if="appCode.indexOf('exam') != -1" @click.stop="menuClick('examsys')">
								<img src="css/images/teaching/app_exam.png?v=1"/>
							</li>
							
							<li v-if="appCode.indexOf('interact') != -1" @click.stop="stuInteract()">
								<img src="css/images/teaching/app_interact.png"/>
							</li>
							<li v-if="appCode.indexOf('choir') != -1" @click.stop="openChoir()">
								<img src="css/images/teaching/app_choir.png"/>
							</li>
							<!-- 统计分析 -->
							<li v-if="appCode.indexOf('manager') != -1" @click.stop="menuClick('manager', '管理系统')">
								<img src="css/images/teaching/app_manager_stu.png"/>
							</li>
							<li v-if="appCode.indexOf('afterclass') != -1" @click.stop="menuClick('afterclass')">
								<img src="css/images/teaching/app_afterclass.png"/>
							</li>
							<li v-for="model in courseObj.appNullBoxNum" class="null-li" :style="courseObj.appBoxLiStyle"></li>
						</ul>
					</div>
				</div>
			</div>
		
			<!-- 系统菜单 begin -->
			<div v-if="isExe && isTeac" :class="[isShow.sysMenu ? 'show' : '', 'sys-menu diy-scorll']">
				<template v-if="isAndroid">
					<li class="sndvol" @click="socketTeac.runwincmd('sndvol')">音量设置<div class="line"></div></li>
				</template>
				<template v-else>
					<li v-if="isBigscreen2noscreenpiano" class="piano-set" @click="pianoSet">钢琴配置<div class="line"></div></li>
					<li v-if="isTeaching && !isBigscreen2noscreenpiano" class="service" @click="menuClick('socketMainTeac', '学生机管理')">学生机管理<div class="line"></div></li>
					<li class="showmenu" @click="socketTeac.showmenu()">显示菜单<div class="line"></div></li>
					<li class="mspaint" @click="socketTeac.runwincmd('mspaint')">画图工具<div class="line"></div></li>
					<li class="screen" @click="socketTeac.printScreen()">截屏<div class="line"></div></li>
					<li class="osk" @click="socketTeac.runwincmd('osk')">屏幕键盘<div class="line"></div></li>
					<li class="sndvol" @click="socketTeac.runwincmd('sndvol')">音量设置<div class="line"></div></li>
					<li class="file" @click="socketTeac.runwincmd('explorer')">本机文件<div class="line"></div></li>
					<li class="fullscreen" @click="socketTeac.togglefullscreen()">切换全屏<div class="line"></div></li>
					<li class="min" @click="socketTeac.minimize()">最小化<div class="line"></div></li>
					<li v-if="!isPad" class="quit" @click="socketTeac.closeExit()">退出并关机</li>
				</template>
				<li class="quit" @click="isPad ? socketTeac.shutdown() : socketTeac.closeWin()">退出<div class="line"></div></li>
			</div>
			
			<div v-if="isExe && !isTeac" :class="[isShow.sysMenu ? 'show' : '', 'sys-menu']">
				<li class="service" @click="socketStu.stuhandup()">我要举手<div class="line"></div></li>
				<template v-if="isAndroid">
					<li class="sndvol" @click="socketStu.runwincmd('sndvol')">音量设置<div class="line"></div></li>
				</template>
				<template v-else>
					<li class="mspaint" @click="socketStu.runwincmd('mspaint')">画图工具<div class="line"></div></li>
					<li class="screen" @click="socketStu.printScreen()">截屏<div class="line"></div></li>
					<li class="osk" @click="socketStu.runwincmd('osk')">屏幕键盘<div class="line"></div></li>
					<li class="sndvol" @click="socketStu.runwincmd('sndvol')">音量设置<div class="line"></div></li>
					<li class="file" @click="socketStu.runwincmd('explorer')">本机文件<div class="line"></div></li>
				</template>
				<li class="quit" @click="isPad ? socketStu.shutdown() : socketStu.closeExit()">退出</li>
			</div>
		    <!-- 系统菜单 end -->
		    
		    
			<!-- 工具箱弹出菜单 -->
			<div class="pop-menu tool-menu select-ban diy-scorll" v-show="menuSelected == 'tool'" :style="cursor">
				<li v-for="(model, index) in tool.arr" @click="tool.toolClick( model, $event )">
					<img :src="'../../images/main/' + model.code + '.png'" /><span>{{ model.name }}</span>
				</li>
			</div>
			
			<div class="right select-ban" :class="{ 'right-padding': !bottomTagNotFull}">
				<div v-show="rightCoverShow" class="right-cover"></div>
				<!-- <div class="move-cover right-cover hide"></div> -->
				<iframe v-for="(model, index) in tagList" v-if="model.url && model.code" v-show="actTagCode == model.code" class="if" :id="model.code" :src="model.url" frameborder="0"></iframe>
			</div>
			
			<div v-if="!isAlone" @click="bottomClick()" class="bottom-tags" :class="[bottomTagNotFull ? 'bottom-tags-not-full' : '', params.IS_EXE != '1' ? 'not-exe' : '']" >
				<a v-if="actTagCode != 'index' || this.params.FROMPAGE" @click.stop="goLast()" href="javascript:void(0)"><img src="../../images/common/back3.png" style="margin: 0 15px 0 10px;"/></a>
				
				<!-- 系统菜单按钮 -->
				<div @click.stop="isShow.sysMenu = !isShow.sysMenu; menuSelected = '';" v-if="isExe" class="menu-btn js-"></div>
				
				<li @click="chooseTag(index)" v-for="(model, index) in tagList" v-if="model.code !='index'" v-show="model.index && model.index <= showTagNum" :key="'tag' + index" 
					:class="{ 'active': model.code == actTagCode, 'not-active': model.code != actTagCode, 'left-border': index == 1 && (isExe || actTagCode != 'index') }" :data-tag="model.code" :title="model.name">
					<span>{{model.name}}</span>
					<div v-if="model.code != 'index'" class="tag-close js-" :class="{'active': model.code == actTagCode}" title="关闭标签" @click.stop="closeTag(model.code, index)" ></div>
					<div v-if="model.code != 'index' && model.code == actTagCode" class="tag-staff"></div>
				</li>
				<div v-if="getActiveTagNum(tagList) > (showTagNum + 1)" class="show-more-tag" :class="{'active': showMoreTags}" @click.stop="showMoreTags = !showMoreTags;">
					<div class="more-tag-list" v-show="showMoreTags">
						<li v-for="(model, index) in tagList" v-if="model.index > showTagNum" @click="chooseTag(index)">
							<span :title="model.name">{{model.name}}</span>
							<img draggable="false" src="../../images/menu/close_3.png" title="关闭标签" @click.prevent.stop="closeTag(model.code, index)">
						</li>
					</div>
				</div>
				
				<div v-if="actTagCode == 'index'" class="bottom-right">
					<!-- && isVersionComplete -->
					<li v-if="isTeac && isVersionComplete" @click="openKtjsbx()" class="ktbx js-"><a href="javascript:void(0)">课堂表现</a></li>
					<li class="theme-toggle js-" @click="location.href = 'main_teaching.html' + location.search">主题</li>
				</div>
			</div>
			
			<!-- 工具箱弹窗 -->
			<div v-for="(model, index) in tool.arr" v-if="model.isShow" class="tool toolbar" :class="model.code" :style="model.style" :id="'toolbox' + model.code"
					@mousedown.stop="tool.mouseDown(model, $event )" @touchstart.stop="tool.mouseDown(model, $event )">
				<div class="tools-title select-ban">
					<span>{{ model.name }}</span>
					<div class="keyboard white" v-if="isExe && model.keyboard" onclick="window.top.getSocket().runwincmd('osk');"></div>
					
					<img @click="tool.toolClose( model )" title="关闭" src="../../images/main/fork.png" />
					<img class="size max" v-if="model.isResize" title="最大化" @click="tool.maxSize(model.code)" src="../../images/main/maxsize.png" />
					<img class="size min" v-if="model.isResize" title="向下还原" @click="tool.minSize(model.code)" src="../../images/main/minsize.png" />
				</div>
				<div class="tool-body" :style="model.bodyStyle">
					<div v-if="model.isMove" class="move-cover"></div>
					<iframe :id="'tool' + model.code" :src="model.src || '../tool/tool_' + model.code + '.html'" :style="model.iframeStyle" frameborder="0"></iframe>
				</div>
			</div>
			
			<!-- 教师开启互动，选择其所在的班级 -->
			<div class="tool train-list hide">
				<div class="tools-title select-ban">
					<span>选择您所在的班级</span>
					<img @click="toolClose('train-list')" title="关闭" src="../../images/main/fork.png" />
				</div>
				<div class="tool-body">
					<div class="list-group">
					  	<a v-for="(model, index) in interact.trainList" @click="trainClick(model)" href="#" class="list-group-item list-group-item-action">
					    	{{model.TRAIN_NAME}}
					 	</a>
					</div>
				</div>
			</div>
			
			<!-- 学生端，选择自己所在的座位号 -->
			<div class="tool train-person-list hide">
				<div class="tools-title select-ban">
					<span>选择您的座位号</span>
					<img @click="toolClose('train-person-list')" title="关闭" src="../../images/main/fork.png" />
				</div>
				<div class="tool-body">
					<div class="list-group text-left">
					  	<a v-for="(model, index) in interact.stuList" @click="stuClick(model)" v-text="stuName(model)" href="#" class="list-group-item list-group-item-action">
					 	</a>
					</div>
				</div>
			</div>
			
			
			<!-- 画笔 begin -->
			<div class="brush-box" v-show="brush.isShow" :class="{'show': brush.isShow, 'wxp': brush.isShowWxp, 'cursor-pen': brush.activeCode == 'pen', 'cursor-eraser': brush.activeCode == 'eraser'}" style="bottom:60px;">
				<canvas v-for="(model, index) in brush.canvasIdArr" :id="model" v-show="brush.isShow && brush.idx == index" @mousedown.stop="brush.begin($event, true)" @touchstart.prevent.stop="brush.begin($event, false)" ></canvas>
				<canvas id="brushCanvasTmp" @mousedown.stop="brush.begin($event, true)" @touchstart.prevent.stop="brush.begin($event, false)" v-show="brush.isShowTmp"></canvas>
			</div>
			
			<div class="brush-btn-content show" v-show="brush.isShow" :class="{ 'isShowBtn': brush.isShowBtn}" :style="'width:' + (brush.isShow ? (brush.actionList.length + 1) * 62 : 0) + 'px'">
				<div class="brush-btn-box" v-if="brush.isShowBtn"
					 :style="{ left: (brush.shapeArr.length + brush.lineWidthArr.length + brush.lineColorArr.length) * -40 + 'px', top: '10px'}">
					
					<div v-for="item in brush.shapeArr" :class="{active: brush.shape == item}" class="brush-btn shape"
						 :data-type="item" @click="brush.shapeSwitch(item)" ></div>
					
					<div v-for="(item, index) in brush.lineWidthArr" :class="{active: brush.lineWidth == item}" class="brush-btn line-width"
						 :data-type="item" @click="brush.lineWidthSwitch(item)" >
						<div :style="{width: 10 + index * 2 + 'px', height: 10 + index * 2 + 'px'}"></div>	
					</div>
					
					<div v-for="item in brush.lineColorArr" :class="{active: brush.lineColor == item}" class="brush-btn line-color"
						 :style="{'background-color': item}" @click="brush.lineColorSwitch(item)" ></div>
				</div>
				
				<li v-for="(model, index) in brush.actionList" @click="brush.btnClick(model);" 
					:class="[ model.code == brush.activeCode ? 'active' : '', (model.code == 'prev' && brush.pager.currPage == 1) ? 'disabled' : '', model.cls ]">
					<template v-if="model.code == 'page'">
						<div class="tb-btn-img page-txt">{{ brush.pager.currPage + '/' + brush.pager.totalPage }}</div>
					</template>
					<template v-else>
						<div class="tb-btn-img"></div>
					</template>
					<span v-text="model.name"></span>
				</li>
				<li class="rb-close" @click="brush.close();">
					<div class="tb-btn-img"></div>
					<span>关闭</span>
				</li>
			</div>
			<!-- 画板 end -->
		</div>
		<!-- 文件预览 -->
		<div class="file-preview-box"></div>

	</body>
	
	
	<script src='/ixzdscommon/jquery/js/jquery-3.2.1.min.js'></script>
    <!-- vue 支持IE低版本 -->
	<script src='/ixzdscommon/vue/polyfill.min.js'></script>
    <!-- vue 框架文件 -->
	<script src='/ixzdscommon/vue/vue.min.js'></script>
    <!-- vue ajax -->
	<script src='/ixzdscommon/vue/axios.min.js'></script>
	
	<!-- popper 弹框 -->
	<script src="/ixzdscommon/minipro/js/common/popper.min.js"></script>
	
	<!-- Bootstrap 4.0-->
	<script src="/ixzdscommon/minipro/js/common/bootstrap.min.js"></script>	
	
    <!-- Sweet-Alert 弹框 -->
    <script src="/ixzdscommon/minipro/js/common/sweetalert.min.1.js"></script>
    
	<!-- 树组件 -->
	<script src="/ixzdscommon/vue/liquor-tree.umd.js"></script>

	<!-- 自定义alert，用于覆盖window的alert -->
	<script src="../../js/common/alert.js?v=1000"></script>
	
	<!-- 文件上传 -->
	<script src="/ixzdscommon/vue/vue-upload-component.js"></script>
	<!-- 分页组件 --> 
	<script src="/ixzdscommon/vue/vue-easytable.js"></script>

	<!-- 画笔 -->
	<script src="/ixzdscommon/brush/brush.js?v=1000" type="text/javascript"></script>
	
	<script src="/ixzdscommon/abc/js/util.js?v=1000" type="text/javascript"></script>
	<script src="/ixzdscommon/abc/js/abcUtil.js?v=1000" type="text/javascript"></script>
	<script src="/ixzdscommon/midi/midi.js?v=1000"></script> 
	
	<script src="../../js/common/vue-easytable-ext.js?v=1000"></script> 
	<script src="../../js/common/file.js?v=1000"></script>
	<!-- 大屏、安卓上看控制台 -->
	<script src="../../js/common/vconsole.min.js?v=1000"></script>
	<script src="../../js/common/constants.js?v=100011"></script>
	<script src="../../js/common/imusicCommon.js?v=100011"></script>
	
	<script type="text/javascript">
		setHtmlFontSize( 1920, 14); 
	</script>
	<!-- 用于教师扫码大屏，控制大屏按钮 -->
	<script src="/ixzdscommon/websocket/websocket.js?v=1000"></script>

	<!-- 互动 --> 
	<script src="../../js/main/main_interact.js?v=1000"></script>
	<script src="../../js/main/main_tool.js?v=1000"></script>
	
	<!-- 课堂及时表现录入 -->
	<script src="js/main_ktjsbx.js?v=1000"></script>
	
	<script src="js/main_teaching_v2.js?v=1001"></script>
	<script type="text/javascript">
		console.log("window.screen.availWidth", window.screen.availWidth); 
		console.log("window.screen.availHeight", window.screen.availHeight);
		console.log("window.screen.width", window.screen.width);
		console.log("window.screen.height", window.screen.height);
		console.log("window.document.body.offsetHeight", window.document.body.offsetHeight);
		console.log("window.document.body.offsetWidth", window.document.body.offsetWidth);
		console.log("navigator.userAgent.toLowerCase()", navigator.userAgent.toLowerCase());
		console.log("location.href", location.href);
	</script>
</html>