<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Cloud Generator</title>
</head>
<body>
    <h1>Word Cloud Generator</h1>
    <form action="/generate" method="post">
        <label for="words">Words (comma-separated):</label><br>
        <textarea id="words" name="words" rows="2" cols="50">jeremy,wangxu,littleflute</textarea><br>
        <label for="weights">Weights (comma-separated):</label><br>
        <textarea id="weights" name="weights" rows="2" cols="50">1,2,3</textarea><br>
        <input type="submit" value="Generate Word Cloud">
    </form>
    <input type="button" id=myBtn value="test image">
    <textarea id="light" name="light" rows="1" cols="10">0.9</textarea><br>
    <div id="wordcloud"></div>
    <script>
        document.querySelector('form').addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(e.target);
            const response = await fetch('/generate', {
                method: 'POST',
                body: formData
            });
            const image = await response.text();
            document.getElementById('wordcloud').innerHTML = image;
        });

        //added by jeremyjia.
        document.getElementById("myBtn").addEventListener("click", function(){
            const params = new URLSearchParams();
            var lightText = document.getElementById('light').value;
            params.append('param1', lightText);
            fetch('/get_data?' + params.toString())
                .then(response => response.text())
                .then(data => {
                    document.getElementById('wordcloud').innerHTML = data;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>
</body>
</html>