<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>J2EE HomePage</title>
	</head>
	<body>
		<h1>
			<font color="green" th:text="'Welcome to the Homepage v'+${server_version}">HomePage</font>
		</h1>
		<hr />
		<p><font color="green">Function List ↓↓↓</font></p>
		<img src="../images/toRight.jpg" width="20" height="20" />
		<a th:href="@{${swagger_url}}">Swagger Document</a><br />
		<img src="../images/toRight.jpg" width="20" height="20" />
		<a th:href="@{${upload_url}}">Upload File to AWS</a><br />
		<img src="../images/toRight.jpg" width="20" height="20" />
		<a th:href="@{${video_url}}">Video Generator</a><br />
		<img src="../images/toRight.jpg" width="20" height="20" />
		<a th:href="@{${demo_url}}">Demo</a><br />

		
		<img src="../images/toRight.jpg" width="20" height="20" />
		<a href="chatGPT.html" target="_blank">chatGPT</a><br />

		<button id="plx_p1_btn">plx_p1</button>
		<script src="https://littleflute.github.io/JavaScript/w3.js" ></script>
		<script src="https://littleflute.github.io/JavaScript/blclass.js" ></script>
		<script src="plx/p1.js"></script>
	</body>
</html>
