<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>剧本列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h3>剧本列表 <a class="btn btn-primary" th:href="@{${issue_link}}" target="_blank"
                        th:text=${short_link}>#</a> </h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr class="success">
                            <td>序号</td>
                            <td>剧本描述</td>
                            <td>剧本链接</td>
                            <td>视频页面</td>
                            <td>剧本修改</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active" th:each="video:${videoDocs}">
                            <td th:text="${video.id}"></td>
                            <td th:text="${video.description}"></td>
                            <td>
                                <a th:href="@{${video.video_link}}" target="_blank">查看剧本</a>
                            </td>
                            <td>
                                <a class="btn btn-info" th:href="@{${video.video_page}}" target="_blank">生成视频</a>
                            </td>
                            <td>
                                <a class="btn btn-info" data-toggle="modal" data-target="#myModalDlg" 
                                th:data-cs="${video.content}" th:data-url="${video.comment_url}" th:data-issueID="${short_link}"
                                onclick="fnSetValues2Control(this.getAttribute('data-cs'), this.getAttribute('data-url'), this.getAttribute('data-issueID'))" role="button">修改剧本</a>                            
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 定义模态弹出对话窗 -->
        <div class="modal fade" id="myModalDlg">
            <div class="modal-dialog">
                <!-- 模态弹出窗的内容 -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">修改对话框</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="table" th:action="@{/videodocs/modify}" method="post">  <!-- action定义调用的Controller -->
                            <input class="form-control" id="url" name="url" type="hidden" value=""/> <!-- 将commentURL, issueID隐藏, 提交时传递给Controller -->
                            <input class="form-control" id="issueID" name="issueID" type="hidden" value=""/>
                            <span>剧本内容:</span>
                            <textarea class="form-control" rows="10" aria-label="With textarea" id="scriptID" name="scriptContent"></textarea>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
<script> 
$("#myModalDlg").modal("hide");
 
 function fnSetValues2Control(cs, url, issueID) {
     $("#scriptID").val(cs);
     $("#url").val(url);
     $("#issueID").val(issueID);
 } 

     $(document).ready(function(){

        $("#myModalDlg").draggable();//为模态对话框添加拖拽

    })  
</script>

</html>