body,box,div,form,input,textarea,li,ol,ul,dl,dt,dd,h1,h2,h3,h4,pre,.p2 p,.nav3 p{margin:0;padding:0}
body{font-size:1em;line-height:1.5em;text-align:center;word-wrap:break-word;word-break:break-all;font-family:arial,'Microsoft YaHei','Hiragino Sans GB',sans-serif;_behavior:url('css/csshover.htc')}
h1,.nav2 a,.nav3 a,.nav4 a,.nav5 a,.box a,.box2 a,.box3 dt,.box3 dd,.box4 dd,.box4 dt,.data2 li a,.data3 li a{word-wrap:normal;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
h1,h2,h3,h4{font-size:1.1em}
h1,h2,.w78 span,.w span,#show,a:hover{color:#f00}
form,h2,h3{display:inline}
input{border:#aaa .063em solid}
li,ol,ul,dl,dt,dd{list-style:none}
table{border:0}
img{max-width:100%;border:0}
a{display:inline-block;text-decoration:none}
a,img{transition:all ease .6s;-moz-transition:all ease .6s;-webkit-transition:all ease .6s;-o-transition:all ease .6s}
a img:hover{cursor:pointer}
hr{border:none;height:.25em;width:100%}
_div{margin:0 auto}
.copy a{font-size:.7em;color:#999}
.text a{cursor:text}
.text{cursor:text}
.pointer{cursor:pointer}
.help{cursor:help}
.s-resize{cursor:s-resize}
.nav,.nav2,.nav3,.nav4 a span,.nav5 a span{font-size:.9em;display:block}
/*nav*/
.nav{width:100%;height:3.2em;border-radius:.5em .5em 0 0;overflow:hidden;transition:height ease .5s;-moz-transition:height ease .5s;-webkit-transition:height ease .5s;-o-transition:height ease .5s}
.nav:hover{height:12.2em}
.nav span{height:12.2em;display:inline-block;vertical-align:top}
.nav span:hover{background:url(css/ico_alpha.png) repeat}
.nav_body{height:3.2em}
.nav .on,.nav .menu{line-height:3.2em}
.nav .on a{color:#fff}
.nav .menu{background:url(css/ico_menu_white.png) center center no-repeat}
.zht_0 .nav_body,.bg5{background:#b644ff}
.zht_1 .nav_body,.bg6{background:#58cb64}
.zht_2 .nav_body,.bg7{background:#4499ff}
.zht_3 .nav_body,.bg8{background:#f4bf20}
.zht_4 .nav_body,.bg9{background:#fe7878}
.zht_0 .nav,.zht_0 .foot,.zht_0 .head,.bga0 a,.bga00 a,.bg0,.zht_0 .input{background:#f1e6ff}
.zht_1 .nav,.zht_1 .foot,.zht_1 .head,.bga1 a,.bga01 a,.bg1,.zht_1 .input{background:#ddf1d8}
.zht_2 .nav,.zht_2 .foot,.zht_2 .head,.bga2 a,.bga02 a,.bg2,.zht_2 .input{background:#deeef4}
.zht_3 .nav,.zht_3 .foot,.zht_3 .head,.bga3 a,.bga03 a,.bg3,.zht_3 .input{background:#fbf5c6}
.zht_4 .nav,.zht_4 .foot,.zht_4 .head,.bga4 a,.bga04 a,.bg4,.zht_4 .input{background:#ffe8e6}
.bga00 a:nth-child(even){background:#ddf1d8}/*ie9+*/
.bga01 a:nth-child(even){background:#deeef4}
.bga02 a:nth-child(even){background:#f1e6ff}
.bga03 a:nth-child(even){background:#ddf1d8}
.bga04 a:nth-child(even){background:#deeef4}
.zht_0 .content,.zht_0 .foot,.zht_0 .head,.bc0{border-color:#b644ff}
.zht_1 .content,.zht_1 .foot,.zht_1 .head,.bc1{border-color:#58cb64}
.zht_2 .content,.zht_2 .foot,.zht_2 .head,.bc2{border-color:#4499ff}
.zht_3 .content,.zht_3 .foot,.zht_3 .head,.bc3{border-color:#f4bf20}
.zht_4 .content,.zht_4 .foot,.zht_4 .head,.bc4{border-color:#fe7878}
.nav2 a,.nav2 .y,.nav2 .n{min-width:2em;border-radius:.5em .125em;line-height:2em;padding:0 .37em;margin:.18em;border:.063em solid #cc9}
.nav2 a:hover{background:#fff;border-color:red;border-radius:.125em .5em}
.nav2 .y{background:#dde}
.nav2 .n{color:#cc9}
.nav3 a{margin:.22em}
.index .nav3 a{margin:.04em .2em}
.nav3 a:hover,.nav4 a:hover{font-weight:bold;background:#fff}
.nav4 a{padding:1em 0;margin:.1em .166em}
.nav5 a{color:#fff;padding:1em 0;margin:.1em .166em}
.nav5 a:hover{font-weight:bold;filter:Alpha(opacity=80);opacity:.8;-moz-opacity:.8;-khtml-opacity:.8}
/* background */
.bg10{background:#fc6}
.bg11{background:#c58}
.bg12{background:#c94}
.bg13{background:#4bf}
.bg14{background:#e6d}
.bg15{background:#2cc}
.bg16{background:#f93}
.bg17{background:#628}
.bg18{background:#278}
.bg19{background:#c3f}
.bg20{background:#822}
/*border-radius*/
.br5 img{border-radius:5%}
.br10 img{border-radius:10%}
.br20 img{border-radius:20%}
.br30 img{border-radius:30%}
.br40 img{border-radius:40%}
.br50 img{border-radius:50%}
/*auto width*/
.l30{width:30%;float:left}
.l35{width:35%;float:left}
.l40{width:40%;float:left}
.l45{width:45%;float:left}
.l50{width:50%;float:left}
.l55{width:55%;float:left}
.l60{width:60%;float:left}
.l65{width:65%;float:left}
.l70{width:70%;float:left}
.r30{width:30%;float:right}
.r35{width:35%;float:right}
.r40{width:40%;float:right}
.r45{width:45%;float:right}
.r50{width:50%;float:right}
.r55{width:55%;float:right}
.r60{width:60%;float:right}
.r65{width:65%;float:right}
.r70{width:70%;float:right}
.l33{width:33.3%;float:left}
.r33{width:33.3%;float:right}
.la{width:70%;float:left}
.la1{width:42.85%;float:left}
.la2{width:57.15%;float:right}
.la3{width:30%;float:right}
.ld1{width:49%;float:left;text-align:right;margin-right:1%}
.ld2{width:49%;float:right;text-align:left}
.ld1 .form,.ld2 .form{padding:0}
.w0 a{width:8.9em}/*0-3auto ie 800:5*/
.w02 a{width:48%}/*2*/
.w04 a{width:24%}/*4*/
.w06 a{width:15%}/*6*/
.w08 a{width:12%}/*8*/
.w3 a{width:3em}
.w4 a{width:4em}
.w5 a{width:5em}
.w6 a{width:6em}
.w7 a{width:7em}
.w8 a{width:8em}
.w9 a{width:9em}
.w10 a{width:10em}
.w11 a{width:11em}
.w12 a{width:12em}
.w13 a{width:13em}
.w14 a{width:14em}
.w15 a{width:15em}
.w16 a{width:16em}
.w_3{width:3em}
.w_4{width:4em}
.w_5{width:5em}
.w_6{width:6em}
.w_7{width:7em}
.w_8{width:8em}
.w_9{width:9em}
.w_10{width:10em}
.w_11{width:11em}
.w_12{width:12em}
.w_13{width:13em}
.w_14{width:14em}
.w_15{width:15em}
.w_16{width:16em}
.w{width:100%}
.w20{width:20%}
.w25{width:25%}
.w30{width:30%}
.w33{width:33%}
.w40{width:40%}
.w50{width:50%}
.w60{width:60%}
.w70{width:70%}
.w80{width:80%}
.w49{width:49%}
.w59{width:59%}
.w69{width:69%}
.w79{width:79%}
.w99{width:99%}
.w78{display:block;margin:0 auto;max-width:49em;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)>780?'49em':'');overflow:hidden}
.w781{float:left;width:54%}
.w783{float:right;width:45%}
.head,.foot{border:.063em solid;border-bottom:0}
.content{border:.063em solid;border-top:0}
.foot{padding:2em 0 .1em 0;color:#999;border-radius:0 0 1.3em 1.3em}
.gongan{background:url(css/gongan.png) left top no-repeat;text-indent:1.8em}
.d1{border-radius:.5em .5em 0 0}
.d2,.d6{border-radius:0 0 1.3em 1.3em}
.d1,.d2,.d3,.d4,.d5,.d6{border:.063em solid}
.d1,.d3,.d6{border-bottom:0}
.d2,.d3,.d5{border-top:0}
.input{border-radius:.6em;cursor:pointer;border:red .063em solid;font-weight:bold;width:18em;margin:.25em;padding:.25em}
.input:hover{border-radius:0;background:#fff}
.info h2,.info h3,.info_h{display:block;text-align:left;margin-left:.5em;padding:.5em 0 .5em 1em;background:url(css/ico_title.png) repeat-y left top;border-bottom:solid .063em #ddd}
.l,.info{text-align:left}
.r{text-align:right}
.c{text-align:center}
.b{font-weight:bold}
.p2{text-indent:2em}
.mt{margin-top:.8em}
.mt1{margin-top:.9em}
.mt2{margin-top:2em}
.mtb{margin:.8em 0 .8em 0}
.mlr{margin:0 .6em 0 .6em}
.mb{margin-bottom:.6em}
.f,.w78,.head,.content,.foot,.box,.box3 dl{zoom:1}
.f:after,.w78:after,.head:after,.content:after,.foot:after,.box:after,.box3 dl:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.f0{display:none}
.f1{float:left}
.f3{float:right}
.f6{font-size:.6em}
.f7{font-size:.7em}
.f8{font-size:.8em}
.f9{font-size:.9em}
.f11{font-size:1.1em}
.f13{font-size:1.3em}
.f15{font-size:1.5em}
.f17{font-size:1.7em}
.f19{font-size:1.9em}
/*color*/
.red{color:red}
.yellow{color:yellow}
.blue{color:blue}
.green{color:green}
.purple{color:purple}
.orange{color:orange}
.black{color:black}
.gray{color:gray}
.silver{color:silver}
.white{color:white}
.fuchsia{color:fuchsia}
.aqua{color:aqua}
.lime{color:lime}
/*form*/
.form{height:3em;padding:.8em .2em}
.form input{height:3em;line-height:3em;vertical-align:middle}
.form .int{margin-right:9.2em;_width:99%;_margin-right:3.8em}
.form .int input{outline:none;float:left;width:100%;text-indent:2.2em;color:#333;background:url(css/ico_sear.png) no-repeat .8em 50%}
.form .int select{float:right;height:3em;padding:0.5em 0;width:98%}
.form .int textarea{outline:none;float:left;width:98%;padding-left:2%;color:#333}
.form .int form input{text-indent:0em}
.form .btn{float:right;width:8.8em}
.form .btn input{border:0;width:100%;cursor:pointer;color:#fff}
.zht_0 .form .btn input{background:#b644ff}
.zht_1 .form .btn input{background:#58cb64}
.zht_2 .form .btn input{background:#4499ff}
.zht_3 .form .btn input{background:#f4bf20}
.zht_4 .form .btn input{background:#fe7878}
.zht_0 .form .int input,.zht_0 .form .int textarea{border:#b644ff .1em solid}
.zht_1 .form .int input,.zht_1 .form .int textarea{border:#58cb64 .1em solid}
.zht_2 .form .int input,.zht_2 .form .int textarea{border:#4499ff .1em solid}
.zht_3 .form .int input,.zht_3 .form .int textarea{border:#f4bf20 .1em solid}
.zht_4 .form .int input,.zht_4 .form .int textarea{border:#fe7878 .1em solid}
.form .btn input:hover{background:green}
.form .btn input:disabled{background:#ddd}
/* table*/
.data{width:100%;border-collapse:collapse;margin:0 auto;text-align:center}
.data td,.data th{border:.063em solid #06f;height:1.85em}
.data thead th{color:#fff;background:#5af}
.data tr:nth-child(odd){background:#fff}
.data tr:nth-child(even){background:#ebf5ff}
.data tr:hover{background:#c9e9ff}
.data thead tr .headersortdown,.data thead tr .headersortup{background:#8fc7fe}
.data thead tr .header{background-image:url(css/p4.gif);background-repeat:no-repeat;background-position:center right;cursor:pointer}
.data thead tr .headersortup{background-image:url(css/p5.gif)}
.data thead tr .headersortdown{background-image:url(css/p6.gif)}
.data1 li,.data2 li,.data3 li{line-height:2.6em;text-align:left;border-bottom:solid .063em #e8e8e8}
.data1 li{margin:0 .5em 0 .5em}
.data2 li,.data3 li{margin:0 0 0 1.5em}
.data2 li{list-style:disc;list-style-type:decimal}
.data2 li a,.data3 li a{padding-right:.7em;display:block;background:url(css/ico_go.png) no-repeat right center}
/*img*/
#show img{padding:.5em;margin:.5em;border:.063em solid #ccc}
#show img:hover,#show img:link,.img li:hover{cursor:pointer;background:#f0f0f0}
.box,.box2,.box4{display:inline-block;*display:inline;zoom:1}
.box li,.box2 li,.box4 li{*float:left;*+float:left;display:inline-block}
.boxdb li{border:.063em solid #ccc;padding:.063em}
.boxdb li:hover{border-color:red}
.box li{margin:.3em .25em 0 .25em}
.box a{display:block}
.box img{display:block}
.box img:hover{transform:scaleX(1.1)}
.box200_88 img:hover,.img200 img:hover,.img100 img:hover{transform:scale(1.1)}
.box200 img,.box200 a,.box200_88 img,.box200_88 a{width:12.5em}
.box200 img{height:12.5em}
.box200_88 img{height:5.5em}
.box150 img,.box150 a{width:9.375em;height:9.375em}
.box100 img,.box100 a{width:6.25em;height:6.25em}
.img200 img{margin:0 .9em;width:12.5em;height:12.5em}
.img100 img{margin:0 2em;width:6.25em;height:6.25em}
.img100 img,.img200 img:hover{border-radius:5%;transform:scale(1.01)}
.box2 li{margin:0 .1em 0 .1em}
.box2 img{width:6.25em;height:6.25em;display:block}
.box2 img:hover{transform:scale(1.1)}
.box2 span a{line-height:1.5em;padding:0 .37em;margin:0 .18em;border:.063em solid #cc9;border-radius:.5em .125em}
.box2 span a:hover{background:#fff;border-color:#f00;border-radius:.125em .5em}
.box3 li{width:99%}/*3img*/
.box3 dl{width:99%;border-bottom:.063em solid #ccc}
.box3 dd{margin-left:8em;_width:98%;_margin-left:8em}
.box3 dt{width:7.562em;height:4.687em;float:left}
.box3 img{width:7.562em;height:4.687em}
.box3 img:hover{transform:scale(1.1)}
.box31{width:49%;float:left}
.box33{width:49%;float:right}
.box3_100 dt,.box3_100 img{width:6.25em;height:6.25em}
.box4 li{margin:.4em 0}
.box4 dl{width:15em}
.box4 dd{margin-left:4em;padding-top:.6em;text-align:left}
.box4 dd p{color:#ccc;font-size:.9em;margin:0;padding:0}
.box4 dd p:hover{color:#000}
.box4 dt{float:left}
.box4 dt,.box4 img{width:3.75em;height:3.75em}
.box4 img:hover{transform:scale(1.1)}
/*media screen*/
@media screen and (min-width:1020px){
.nav,.nav2,.nav3,.nav4 a span,.nav5 a span,input{font-size:1em}
.w0 a{width:10em}
}
@media screen and (min-width:1270px){
.w0 a{width:12.5em}
}
@media screen and (min-width:1360px){
.w0 a{width:13.6em}
}
@media screen and (min-width:1590px){
.w0 a{width:16em}
}
@media screen and (min-width:1900px){
.w0 a{width:19em}
}
/*media screen*/
@media screen and (max-width:1019px){
.nav2 a{max-width:22em}
.la{width:auto;float:none}
.la1{width:50%;float:left}
.la2{width:100%;float:none}
.la3{width:50%;float:right}
#show img,#out img{width:auto;height:auto;max-width:90%;max-height:90%}
.box200 img,.box200 a,.box200_88 img,.box200_88 a{width:11.4em}
.box200 img{height:11.4em}
.box200_88 img{height:5.016em}
.w0 a{width:9.2em}/*5*/
.w04 a{width:23%}
.box2 li{margin:0}
.box2 img{width:5.7em;height:5.7em}
.box2 span a{font-size:.9em}
}
@media screen and (max-width:779px){
.nav2 a{max-width:17em}
.l33,.r33{clear:both;width:100%;float:none}
.box31,.box33{clear:both;width:99%;float:none}
.box200 img,.box200 a,.box200_88 img,.box200_88 a{width:9.2em}/*4 (next3)*/
.box200 img{height:9.2em}
.box200_88 img{height:4.048em}
.box150 img,.box150 a{width:9.2em;height:9.2em}/*4*/
.img200,.img100{font-size:.9em}
.img200 img{margin:0 1em}
.img100 img{margin:0 1.1em}
.img200 img{width:12em;height:12em}
.img100 img{width:6.9em;height:6.9em}
.box4 dl{width:12.8em}
.box4 dd p{font-size:.7em}
.w0 a{width:7.4em}/*4*/
.w04 a{font-size:0.8em}
.w06 a{width:23%}/*4*/
.box2 img{width:7.5em;height:7.5em}
}
@media screen and (max-width:750px){
.w781,.w783{width:99%;float:none}
}
@media screen and (max-width:659px){
.f659{zoom:1}
.f659:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.mt1{margin-top:0}
.ld1,.ld2{clear:both;width:100%;float:none;text-align:center;margin-right:0}
.ld1 .form,.ld2 .form{margin:0 auto;max-width:20em}
}

@media screen and (max-width:639px){
.nav2 a{max-width:11em}
.l30,.l35,.l40,.l45,.l50,.l55,.l60,.l65,.l70,.r30,.r35,.r40,.r45,.r50,.r55,.r60,.r65,.r70{clear:both;width:100%;float:none}
.nav2s a{min-width:0}
.box150 img,.box150 a{width:6.7em;height:6.7em}/*4*/
.img200 img{width:13em;height:13em}
.box4 dl{width:6.9em;text-align:center}
.box4 dd{margin:0;padding:0;_width:auto;font-size:.7em;text-align:center}
.box4 dt{float:none}
.box4 dt{display:block;width:100%;text-align:center}
.web,.gongan,.box4 p{display:none}
.w0 a{width:6.9em}
.w02 a{width:99%}
.w04 a{width:47%;font-size:1em}/*2*/
.w06 a{font-size:0.9em}
.box2 img{width:5.7em;height:5.7em}
}
@media screen and (max-width:479px){
.nav2 a{max-width:8em}
.box li{margin:.2em .2em 0 .2em}
.box200 img,.box200 a,.box200_88 img,.box200_88 a{width:7.8em}
.box200 img{height:7.8em}
.box200_88 img{height:3.432em}
.box150 img,.box150 a{width:7.8em;height:7.8em}/*3*/
.box100 img,.box100 a{width:5.7em;height:5.7em}/*4*/
.img200 img{width:11em;height:11em}
.box4 dl{width:5.9em}
.w0 a{width:8em}/*3*/
.w06 a{font-size:0.8em}
.box2 img{width:4.9em;height:4.9em}
}
@media screen and (max-width:409px){
.nav2 a{font-size:.9em}
.box200 img,.box200 a,.box200_88 img,.box200_88 a{width:6.8em}
.box200 img{height:6.8em}
.box200_88 img{height:2.992em}
.box150 img,.box150 a{width:6.8em;height:6.8em}
.box100 img,.box100 a{width:4.9em;height:4.9em}
.img200,.img100{font-size:.7em}
.img200 img{margin:0 1em}
.img100 img{margin:0 1.2em}
.img200 img{width:12.5em;height:12.5em}
.img100 img{width:8.9em;height:8.9em}
.box4 dl{width:5.1em}
.w0 a{width:6.9em}
.w04 a{font-size:.92em}/*2*/
.w06 a{width:47%;font-size:1em}/*2*/
.box2 img{width:4.27em;height:4.27em}
.box3 li img{width:7.05em;height:4.37em}
.box3_100 li img{width:7.05em;height:7.05em}
}
@media screen and (max-width:359px){
.nav2 a{max-width:7em}
.box200 img,.box200 a,.box200_88 img,.box200_88 a{width:9.2em}/*2*/
.box200 img{height:9.2em}
.box200_88 img{height:4.048em}
.box150 img,.box150 a{width:5.9em;height:5.9em}
.box100 img,.box100 a{width:5.9em;height:5.9em}/*3*/
.img200 img{margin:0 .5em}
.img200 img{width:12.2em;height:12.2em}
.box4 dl{width:4.5em}
.w0 a{width:9em}/*2*/
.w02 a{font-size:.9em}
.w04 a{font-size:.8em}
.box2 img{width:3.75em;height:3.75em}
.box33 dd,.box31 dd{font-size:.9em}
.box3 li img{width:6.3em;height:3.9em}
.box3_100 li img{width:6.3em;height:6.3em}
}
.box150 a,.box100 a{height:auto}